<a href="https://colab.research.google.com/github/Shamitha018/Pandas/blob/main/O_2_12_2025_Pandas_Session_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
visa = pd.read_csv('/content/Visadataset.csv')
visa

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [2]:
visa['continent']

0          Asia
1          Asia
2          Asia
3          Asia
4        Africa
          ...
25475      Asia
25476      Asia
25477      Asia
25478      Asia
25479      Asia
Name: continent, Length: 25480, dtype: object

In [3]:
visa['continent'].values

array(['Asia', 'Asia', 'Asia', ..., 'Asia', 'Asia', 'Asia'], dtype=object)

In [4]:
visa[['continent']]

      continent
0          Asia
1          Asia
2          Asia
3          Asia
4        Africa
...         ...
25475      Asia
25476      Asia
25477      Asia
25478      Asia
25479      Asia

[25480 rows x 1 columns]

#unique

In [6]:
visa['continent'].unique()

array(['Asia', 'Africa', 'North America', 'Europe', 'South America',
       'Oceania'], dtype=object)

In [8]:
visa['continent'].nunique()

6

#frequency

In [9]:
visa['continent'] == 'Asia'

0         True
1         True
2         True
3         True
4        False
         ...
25475     True
25476     True
25477     True
25478     True
25479     True
Name: continent, Length: 25480, dtype: bool

In [11]:
con = visa['continent'] == 'Asia'
con

0         True
1         True
2         True
3         True
4        False
         ...
25475     True
25476     True
25477     True
25478     True
25479     True
Name: continent, Length: 25480, dtype: bool

In [14]:
#displays all columns where condition is true
visa[con]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
5,EZYV06,Asia,Master's,Y,N,2339,2012,South,78252.1400,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [15]:
len(visa[con])

16861

#step 1: select dataset
visa
#step 2:  choose a column
visa['continent']
#step 3: only asia
con = visa['continent'] == 'Asia'
#step 4: display only asia contained dataset
visa[con]
#step 5:
len(visa[con])

In [20]:
uni = visa['continent'].unique()
uni

array(['Asia', 'Africa', 'North America', 'Europe', 'South America',
       'Oceania'], dtype=object)

In [21]:
l = []
for i in uni:
  con = visa['continent'] == i
  l.append(len(visa[con]))

[16861, 551, 3292, 3732, 852, 192]

In [27]:
ft = pd.DataFrame(zip(uni,l), columns= ['class', 'frequency'])
ft.to_csv('Continent_frequency.csv', index= True)

values_counts

In [29]:
visa['continent'].value_counts()

continent
Asia             16861
Europe            3732
North America     3292
South America      852
Africa             551
Oceania            192
Name: count, dtype: int64

In [32]:
labels = visa['continent'].value_counts
count = visa['continent'].value_counts
labels, count

(<bound method IndexOpsMixin.value_counts of 0          Asia
 1          Asia
 2          Asia
 3          Asia
 4        Africa
           ...
 25475      Asia
 25476      Asia
 25477      Asia
 25478      Asia
 25479      Asia
 Name: continent, Length: 25480, dtype: object>,
 <bound method IndexOpsMixin.value_counts of 0          Asia
 1          Asia
 2          Asia
 3          Asia
 4        Africa
           ...
 25475      Asia
 25476      Asia
 25477      Asia
 25478      Asia
 25479      Asia
 Name: continent, Length: 25480, dtype: object>)

In [ ]:
#bar chart
import matplotlib.pyplot as plt
plt.figure(figsize=(10,4))
colors = ['pink', 'blue', 'orange', 'yellow', 'purple','green']
plt.bar(labels, count, color = colors)
plt.xlabel('Classes')
plt.ylabel('Frequency')
plt.title('Continent_barchart')
plt.savefig('continent_barchart.jpg')
plt.show() #after plt.show() no command will run

#relative frequency table

In [33]:
visa['continent'].value_counts(normalize = True)

continent
Asia             0.661735
Europe           0.146468
North America    0.129199
South America    0.033438
Africa           0.021625
Oceania          0.007535
Name: proportion, dtype: float64

In [39]:
#in percentage
visa['continent'].value_counts(normalize = True)*100

continent
Asia             66.173469
Europe           14.646782
North America    12.919937
South America     3.343799
Africa            2.162480
Oceania           0.753532
Name: proportion, dtype: float64